USE [master]
GO
/****** Object:  Database [TaskDb]    Script Date: 03-09-2025 23:08:24 ******/
CREATE DATABASE [TaskDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskDb', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskDb_log', FILENAME = N'D:\Programs\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskDb]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 03-09-2025 23:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Department] [nvarchar](100) NOT NULL,
	[HireDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [Email], [Department], [HireDate]) VALUES (1, N'Alice', N'alice@example.com', N'IT', CAST(N'2025-09-03T21:40:32.483' AS DateTime))
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Department], [HireDate]) VALUES (2, N'Bob', N'bob@example.com', N'HR', CAST(N'2025-09-03T21:40:32.483' AS DateTime))
INSERT [dbo].[Employees] ([Id], [Name], [Email], [Department], [HireDate]) VALUES (3, N'Test', N'test@gmail.com', N'IT', CAST(N'2025-09-03T16:13:36.420' AS DateTime))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__A9D10534063935BA]    Script Date: 03-09-2025 23:08:24 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
USE [master]
GO
